body {
  margin: 0;
  background: #000;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden; 
  position: relative;
}

canvas {
  display: block;
  image-rendering: pixelated;
  width: 100%; 
  height: 100%;
  position: relative;
}

#score-display {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  gap: 24px;
  font-family: monospace;
  font-size: 20px;
  color: rgb(255, 255, 255);
  pointer-events: none; /* so it doesn't block clicks on the canvas */
  z-index: 10;
}

#menu {
  position: absolute;
  inset: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  margin: 0;
}

#play-btn {
  font-family: monospace;
  font-size: 24px;
  padding: 16px 48px;
  cursor: pointer;
  border: 3px solid black;
  background: white;
}

#play-btn:hover {
  background: black;
  color: white;
}

#game-over {
  position: absolute;
  inset: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#retry-btn {
  font-family: monospace;
  font-size: 24px;
  padding: 16px 48px;
  cursor: pointer;
  border: 3px solid black;
  background: white;
}

#retry-btn:hover {
  background: black;
  color: white;
}